.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 195px;
}

@media screen and (max-width: 596px) {
  .popup {
    padding-top: 123px;
  }
}