.popup__input {
  all: unset;
  padding: 0 0 9px;
  max-width: 358px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  margin: 0 0 48px;
}

@media screen and (max-width: 596px) {
  .popup__input:last-of-type {
    margin: 0 0 43px;
  }
}